@import "./reboot.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

$spacing-1: 12px;
$spacing-2: 24px;
$spacing-3: 48px;
$gray-1: #d5d5d5;

body {
  font-family: "Lato", sans-serif;
}

label {
  margin: 0;
}

.maxWidth {
  // max-width: 1080px;
  // padding-left: 48px;
  // padding-right: 48px;
  // margin: 0 auto;
}

.left-appear {
  opacity: 0;
  transform: translateX(-50%);
}
.left-appear-active {
  opacity: 1;
  transform: translateX(0);

  transition: all 400ms ease;
}

.right-appear {
  opacity: 0;
  transform: translateX(50%);
}
.right-appear-active {
  opacity: 1;
  transform: translateX(0);

  transition: all 400ms ease;
}

.up-appear {
  opacity: 0;
  transform: translateY(-50%);
}
.up-appear-active {
  opacity: 1;
  transform: translateY(0);

  transition: all 400ms ease;
}

.card-enter {
  opacity: 0;
  transform: translateX(100px) scale(0.8);
  // transform: ;
}
.card-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms;
}
.card-exit {
  opacity: 1;
  transform: scale(0.9);
}
.card-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 250ms;
}

.matchesPage {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  max-height: 100vh;

  .matchesPane {
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    background-color: #94e4b8;

    .noMatches {
      padding: 20px;
    }
    .match {
      display: flex;
      padding: 20px;
      &:hover {
        cursor: pointer;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(26, 158, 0, 0.356);
      }

      .imgContainer {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .matchInfo {
        flex: 1;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .matchedAt {
          display: inline;
          font-weight: 900;
          font-size: 13px;
          color: #37bb72;
          text-transform: uppercase;

          border-radius: 20px;
          padding: 6px 12px;
          border: 2px solid #37bb72;

          position: relative;
          top: 4px;
        }

        .lastMessage {
          font-size: 34px;
          color: #00a745;
          position: relative;
          top: 9px;
        }
      }

      &.active {
        background-image: linear-gradient(90deg, #0d9344 0%, #2ce87e 100%);

        .matchedAt {
          color: #fff;
          border-color: #fff;
        }

        .lastMessage {
          color: #fff;
        }
      }
    }
  }
}

.layout {
  display: grid;
  grid-template-columns: 100px 1fr;
  min-height: 100vh;
  transition: background-color 300ms;
  &.shallowMode {
    background-color: #000;
    transition: background-color 300ms;
    h2 {
      color: #fff;
    }
    color: #fff;
  }

  &.isMatchesScreen {
    main {
      padding: 0;
    }
  }

  nav {
    position: relative;
    width: 100px;
    // position: fixed;
    // border: 1px solid red;
    > div {
      position: fixed;

      width: 100px;

      > img {
        max-width: 55px;
        display: block;
        margin: 0 auto;
        margin-top: 22px;
        margin-bottom: 22px;
      }
    }

    display: flex;
    flex-direction: column;
    background: #b6f8d1;
    box-shadow: inset -3px 0 9px 2px rgba(43, 177, 105, 0.5);

    a {
      user-select: none;
      position: relative;
      // border: 1px solid red;
      display: flex;

      font-weight: 900;
      font-size: 13px;
      color: #4acb7f;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 8px;

      text-decoration: none;
      text-transform: uppercase;

      &.secondary {
        text-align: right;
        align-items: flex-end;

        padding-right: 14px;
      }

      &.root {
        cursor: not-allowed;
        // pointer-events: none;
      }

      &:hover {
        &:not(.root) {
          background-color: #139c582d;
        }
      }

      &:active {
        &:not(.root) {
          background-color: #139c586e;

          .iconContainer {
            background-color: #139c586e;
          }
        }
      }

      .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: relative;

        background-color: #4acb7f;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        margin-bottom: 4px;

        > span {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fff;
          color: #0a853d;
          padding: 1px 5px;
          border-radius: 10px;
          font-size: 10px;
        }
      }

      &.active {
        color: #00a745;
        &::before {
          content: "";
          width: 5px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          background-color: #00a7469f;
        }
        .iconContainer {
          background-color: #00a745;
        }
      }
    }
  }

  main {
    // border: 2px solid green;
  }
}

.radioButton {
  display: flex;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;

  font-size: 14px;
  color: #b3b3b3;
  letter-spacing: 1.48px;

  margin-right: 16px;
  user-select: none;

  transform: all 300ms;

  height: 40px;

  &:hover {
    cursor: pointer;
  }

  .radioCircle {
    background: #ffffff;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.15);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    margin-right: 12px;
  }

  &:active {
    .radioCircle {
      background: #ebebeb;
    }
  }

  &.active {
    color: #2db26a;

    .radioCircle {
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #00a745;
        // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

        position: absolute;
        align-self: center;
      }
    }
  }
}

#startScreen {
  h2 {
    margin-bottom: $spacing-2;

    font-size: 44px;
    color: #2db26a;
  }

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: $spacing-3;

    h3 {
      font-size: 16px;
      color: #7b7b7b;
    }

    .profilePhoto {
      width: 300px;
      height: 300px;
      border-radius: 50%;

      border: 10px solid #b6f8d1;

      box-shadow: 0 0 8px 2px rgba(16, 81, 47, 0.3);
      margin-left: -10px;
      margin-top: -10px;
    }

    .formFields {
      flex: 1;
      // border: 1px solid red;

      .genderAndBreedRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $spacing-2;
        margin-bottom: $spacing-2;

        #inputBreed {
          input {
            padding: 8px 12px;
            font-size: 16px;
            display: block;
            width: 100%;
            border-radius: 4px;
            border: none;

            &:disabled {
              color: #c5c5c5;
              background-color: #f3f3f3;
            }

            background: #fafafa;
            box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
          }
        }

        #selectGender {
          > div {
            display: flex;
          }
        }
      }

      .bioRow {
        label {
          display: block;
        }

        textarea {
          width: 100%;
          display: block;
          border: none;

          background: #fafafa;
          box-shadow: inset 0 0 11px 1px rgba(0, 0, 0, 0.17);
          border-radius: 4px 4px 0 0;
          resize: none;
          padding: 8px 12px;
        }

        #textareaInputs {
          background-color: #e0ffec;

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: $spacing-1;
          padding-bottom: 4px;
          border-radius: 0 0 4px 4px;

          button {
            background: #bcf6d5;
            border-radius: 15px;
            border: none;

            font-weight: 900;
            font-size: 14px;
            color: #00a745;
            text-transform: uppercase;
            letter-spacing: 1.05px;

            padding: 5px 8px;
            padding-left: 20px;
            position: relative;
            margin-right: 8px;
            margin-bottom: 8px;

            &::before {
              content: "+";

              align-self: center;
              margin-left: -10px;
              margin-right: 7px;
            }

            // padding: 6px $spacing-1;
            // background: none;
            // border: none;
            // text-transform: uppercase;

            // font-size: 12px;
            // color: #676767;
            // letter-spacing: 1.2px;
            // font-weight: bold;

            // &:not(:last-child) {
            //   border-right: 1px solid #c7c7c7;
            // }
          }
        }
      }

      #buttonCreateProfile {
        background: #2db26a;
        border-radius: 21.5px;
        font-weight: 900;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 1.48px;
        border: none;
        text-transform: uppercase;

        padding: 10px 36px;
        float: right;

        margin-top: 24px;
      }
    }
  }
}

.modal-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  user-select: none;

  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 999;

  .buttonClose {
    border-radius: 50%;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 1002;
  }

  .dogMatch {
    width: 300px;
    height: 300px;

    border: 10px solid #40c378;
    border-radius: 50%;

    &.user {
      border-color: #fff;
      margin-left: -40px;
    }

    &.other {
      z-index: 999;
      margin-right: -40px;
    }
  }

  &.match {
    .matchRow {
      padding: 70px;
      display: flex;
      justify-content: center;
      position: relative;

      h2 {
        font-weight: 900;
        font-style: italic;
        font-size: 134px;
        color: #40c378;
        text-transform: uppercase;
        position: absolute;
        bottom: -50px;

        text-shadow: 7px 7px 0px #fff;
        z-index: 1000;
      }
    }
  }
}

main {
  padding: 70px;

  h2 {
    margin-bottom: $spacing-2;

    font-size: 44px;
    color: #2db26a;
  }
}

.dogCard {
  width: 314px;
  height: 400px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  box-shadow: 0 0 33px 10px rgba(0, 0, 0, 0.2);

  > div {
    margin-bottom: -50px;
    button {
      user-select: none;
      background: none;
      border: none;
      padding: 0;

      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.24);
      border-radius: 50%;

      &:hover {
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.24);
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.dogCardRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 48px;

  .infoPanel {
    box-shadow: 0 0 33px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    .infoPanelGuts {
      padding: 34px;
      padding-right: calc(34px + 34px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: flex-start;

      .dogCardBreed {
        border: 3px solid #2db26a;
        font-weight: bold;
        font-size: 17px;
        color: #2db26a;
        border-radius: 21.5px;
        padding: 6px 12px;
      }
    }

    #infoPanelToggle {
      user-select: none;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(0);
      border: none;
      background: #b6f8d1;
      width: 34px;

      img {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &.shallowMode {
    position: relative;

    display: flex;
    justify-content: center;

    .infoPanel {
      max-width: 34px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.4;

      #infoPanelToggle {
        img {
          transform: rotate(180deg);
          transition: all 500ms;
        }
      }
    }
  }
}

.conversation {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .convo {
    flex: 1;
    overflow: scroll;
    padding: 20px;
    position: relative;

    .msg {
      // border: 1px solid red;
      &:not(:last-child) {
        margin-bottom: 14px;
      }

      display: flex;
      align-items: flex-start;
      &.user {
        justify-content: flex-end;

        span {
          margin-top: 6px;
          background: #40c378;
          box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.17);
          border-radius: 25px;
          color: #fff;
          padding: 6px 28px;
          font-size: 13px;
        }

        .imgContainer {
          margin-left: 14px;
        }
      }
      .imgContainer {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  #conversationInputs {
    background-color: #e0ffec;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $spacing-1;
    padding-bottom: 2px;
    border-radius: 0 0 4px 4px;

    button {
      background: #bcf6d5;
      border-radius: 15px;
      border: none;

      font-weight: 900;
      font-size: 14px;
      color: #00a745;
      text-transform: uppercase;
      letter-spacing: 1.05px;

      padding: 5px 8px;
      padding-left: 20px;
      position: relative;
      margin-right: 8px;
      margin-bottom: 8px;

      &::before {
        content: "+";

        align-self: center;
        margin-left: -10px;
        margin-right: 7px;
      }
    }
  }
}
